<template >
    <kd-frameset :cols="'45% ,*,45%'">
        <kd-frame style="background-color: #2db7f5;"><div>this is the first frame</div></kd-frame>
        <kd-frame  style="background-color: #3e76f6;"><div class="myellipsis">this is the second frame</div></kd-frame>
        <kd-frame style="background-color: #999999;"><div style="color: #F00;">this is the third frame</div></kd-frame>
        <!--<kd-frameset :cols="'30%,70%'">-->
            <!--<kd-frame :title="'Left frame'" style="background-color: #2db7f5"><div style="color: #F00;">this is the left frame</div></kd-frame>-->
            <!--<kd-frame :title="'Right frame'" style="background-color: #3e76f6"><div style="clor: #F00;"o>this is the right frame</div></kd-frame>-->
        <!--</kd-frameset>-->
    </kd-frameset>
</template>

<script>
    // import kdFrameset from '../../dist/index.min.js';
    // import {kdFrame} from '../../dist/index.min.js';
    import {kdFrameset,kdFrame} from '../../src/index';
    export default {
        components:{
            kdFrameset,
            kdFrame
        }
    };
</script>
<style scoped>
    .myellipsis{
        overflow:hidden;text-overflow:ellipsis;white-space:nowrap
    }
</style>