<template>
  <div :class="kdFrameset">
    <slot></slot>
  </div>
</template>
<script>
  export default {
    name: 'kd-frameset',
    props: {
      cols:{
        type: String,
        default: ''
      },
      rows: {
        type: String,
        default: ''
      }
    },
    data() {
      return {
        _cols: [],
        _rows:[],
        kdFrameset:['kd-frameset']
      };
    },
    methods : {
        resize () {
            let fontSize = document.body.clientWidth / (1920 / 20);
            document.documentElement.style.fontSize = fontSize + 'px';
        },
        init(){
            let children = this.$children;
            if(this.cols){
                this._cols = this.cols.split(',');
                let leftIndex = [];
                for(let i = 0; i < this._cols.length; i++){
                    this._cols[i] = this._cols[i].trim();
                    if (!isNaN(this._cols[i])){// 数字，没有提供单位
                        this._cols[i] = this._cols[i] + '%';//默认单位是%
                    }else if(this._cols[i] === '*'){// * 表示剩余的空间全给它，只能出现一个*
                        leftIndex.push(i);
                    }
                }
                for(let i = 0; i < this._cols.length; i++){
                    if(i < children.length){
                        children[i].$el.style.height = "100%";//默认高度都设置为100%
                        if(leftIndex.indexOf(i) < 0){
                            children[i].$el.style.width = this._cols[i];
                        }else{// i in leftIndex
                            let calcExp = '100%';//calc expression
                            for(let j = 0; j < this._cols.length; j ++){
                                if(leftIndex.indexOf(j) < 0){
                                    calcExp = calcExp + ' - ' + this._cols[j]
                                }
                            }
                            calcExp = `(${calcExp}) / ${leftIndex.length}`;
                            console.log('calcExp>>>>>>>>>>>>>>>>>>>' + calcExp);
                            children[i].$el.style.width = `calc(${calcExp})`;
                        }
                    }
                }
            }else if(this.rows){
                this.kdFrameset = ['kd-frameset','vertical']
                this._rows = this.rows.split(',');
                let leftIndex = [];
                for(let i = 0; i < this._rows.length; i++){
                    this._rows[i] = this._rows[i].trim();
                    if (!isNaN(this._rows[i])){// 数字，没有提供单位
                        this._rows[i] = this._rows[i] + '%';//默认单位是%
                    }else if(this._rows[i] === '*'){// * 表示剩余的空间全给它，只能出现一个*
                        leftIndex.push(i);
                    }
                }
                for(let i = 0; i < this._rows.length; i++){
                    if(i < children.length){
                        children[i].$el.style.width = "100%";//默认高度都设置为100%
                        if(leftIndex.indexOf(i) < 0){
                            children[i].$el.style.height = this._rows[i];
                        }else{// i in leftIndex
                            let calcExp = '100%';//calc expression
                            for(let j = 0; j < this._rows.length; j ++){
                                if(leftIndex.indexOf(j) < 0){
                                    calcExp = calcExp + ' - ' + this._rows[j]
                                }
                            }
                            calcExp = `(${calcExp}) / ${leftIndex.length}`;
                            console.log('calcExp>>>>>>>>>>>>>>>>>>>' + calcExp);
                            children[i].$el.style.height = `calc(${calcExp})`;
                        }
                    }
                }
            }
        }
    },
    mounted() {
       this.init();
    },
    watch:{
        cols:function () {
            this.init();
        },
        rows:function () {
            this.init();
        }
    },
      created() {
          // 根据窗口大小变换页面自适应
          this.resize();
          var _this = this;
          window.onresize = function () {
              console.log('onresize>>>');
              _this.resize();
          };
      }
  };
</script>
<style>
  .kd-frameset {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    position: relative;
    display: -webkit-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
  }
  .kd-frameset.vertical{
    -webkit-box-orient: vertical;
    box-orient: vertical;
  }
  html, body {
    width: 100%;
    height: 100%;
    background: #f8f8fc;
  }
  * {
    padding: 0;
    margin: 0;
  }
</style>
