<template>
  <div class="kd-frame">
    <slot></slot>
  </div>
</template>
<script>
  export default {
    name: 'kd-frame',
  };
</script>
<style>
  ::-webkit-scrollbar{width:0.3rem;}
  ::-webkit-scrollbar-track{background-color:#f5f7fa;}
  ::-webkit-scrollbar-thumb{background-color:#cccccc;}
  ::-webkit-scrollbar-thumb:hover {background-color:#cccccc}
  ::-webkit-scrollbar-thumb:active {background-color:#cccccc}
  .kd-frame{
    overflow: auto;
  }
</style>